*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: 'roboto', sans-serif;
}
/*inicio reader*/
.nav{
  background-color: rgba(255, 20, 147, 0.8); /*cor de fundo*/
  height: 80px;  /*altura de um elemento */
  width: 100%; /*largura*/
  display: flex; /*deixa os itens dentro dele flexiveis*/
  justify-content: flex-end; /*ficara no final da linha*/
}
/*filho de nav*/
.nav-list{
  display: flex;
  align-items: center; /* Alinha os itens no centro verticalmente */
  list-style: none; /* Remove os marcadores  da lista */
  margin-right: 28px; /* Define uma margem de 20 pixels à direita */
}

.nav-list a{
  text-decoration: none;
  color: #FFF8E1;
  padding: 10px;
}

.nav-list a:hover{ /*hover quando passa o mouse em cima*/
  color: #D4AF37;
}