*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
    background-image: url("../images/servico.png.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}


.container {
    text-align: center;
    background: rgba(239, 236, 236, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

input, select, button {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover {
    background: #d9598c;
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
    color: #28a745;
}
.botao-home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transition: 0.3s ease;
  }
  .botao-home:hover {
    background-color: rgba(255, 210, 210, 0.6); /* cor no hover */
  }
