* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  font-family: "roboto", sans-serif;
}
.fundo_tela {
  width: 100%;
  min-height: 100vh;
  background-color: #fff8e1;
  background-image: url("../images/belezamaster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.titulo_sobre h1 {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(255, 210, 210, 0.6); 
  border-radius: 8px;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgb(255, 250, 250);
  font-size: 1.8rem;
  padding: 8px 16px;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 210, 210, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(255, 250, 250);
}
.texto {
  font-size: 1rem;
  line-height: 1.8;
  color: #000;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgb(253, 252, 252); /* sombra nos parágrafos */
}
.botao-home {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 4px;
  transition: 0.3s ease;
}
.botao-home:hover {
  background-color: rgba(255, 210, 210, 0.6); /* cor no hover */
}



